@model List<string>
@{
   ViewData["Title"] = "ส่งอีเมลสำเร็จ";
   Layout = "_LayoutTIP";
}
<main class="main register-end">
   <div class="register-block">
      <h1>ระบบได้ส่งอีเมลไปที่</h1>
      @foreach (var email in Model)
      {
         <h3>@email</h3>
      }
      <h3>กรุณาลบบัญชีที่ไม่ต้องการ</h3>
      <div class="register-action text-center" style="display:block">
         @*<a href="@Url.Action("Login","Accounts")" class="button button-red">เข้าสู่ระบบ</a>*@
      </div>
   </div><!-- .register-block -->
</main>

@section scripts{
   <script>
      $(document).ready(function () {
         $('body').addClass('login-page');
      });
   </script>
}
