@{
   ViewData["Title"] = "ข้อตกลงและเงื่อนไข";
   Layout = "_LayoutTIP";
}
<style>
   .p {
      line-height: 28px;
      font-size:14px;
   }

   .p1 {
      padding-left: 20px;
font-size:14px;
   }

   .p2 {
      padding-left: 48px;
font-size:14px;
   }


</style>
<div class="profile-container">
   <!-- .profile-navigation -->
   <div class="profile-information">
      <div class="container">
         <p class="p">
            <span><b>ข้อกำหนดและเงื่อนไขของ TIP Society</b></span><br />
            <b>คำนิยาม</b><br />
            “บริษัท” หมายถึง บริษัท ทิพยประกันภัย จำกัด (มหาชน)<br />
            “สมาชิก” หมายถึง ลูกค้า และบุคคลทั่วไป ที่ได้สมัครเป็นสมาชิก TIP Society ซึ่งได้ทำการลงทะเบียนเป็นสมาชิกของคลับ จนเสร็จสิ้นขั้นตอนตามที่บริษัทฯกำหนด<br />
            “การรับสิทธิพิเศษ” หมายถึง การที่สมาชิก TIP Society แจ้งกับทางบริษัทฯ ร้านค้าและบริการที่ร่วมโครงการฯถึงความต้องการในการรับสิทธิพิเศษ หรือของรางวัล ตามที่กำหนดกฎเกณฑ์ไว้ใน <span class="text-red">www.tipsociety.dhipaya.co.th</span><br />
            <span><b>1. เงื่อนไขทั่วไป</b></span><br />
            <span class="p1">1.1 ข้อกำหนดและเงื่อนไขนี้ใช้กับโครงการสมาชิกที่มีชื่อว่า “TIP Society” ซึ่งเป็นโครงการสมาชิกของบริษัท ทิพยประกันภัย จำกัด (มหาชน) เมื่อท่านได้สมัครเข้าเป็นสมาชิก TIP Society หมายเลขสมาชิก หรือ เพื่อรับสิทธิพิเศษต่างๆจาก TIP Society หมายความท่านได้รับทราบ และยอมรับกฎเกณฑ์รวมทั้งเงื่อนไขต่างๆที่ระบุดังต่อไปนี้แล้ว</span><br />
            <span class="p1">1.2 ข้อกำหนดและเงื่อนไขทั้งหมดทำขึ้นเป็นภาษาไทย และภาษาอังกฤษ ในกรณีที่มีข้อความขัดแย้งกัน ให้ใช้ ข้อกำหนดและเงื่อนไขฉบับภาษาไทยเป็นหลักในการตีความ</span><br />
            <span><b>2. สถานภาพสมาชิก และบัตรสมาชิก</b></span><br />
            <span class="p1">
               2.1 ผู้ที่สนใจสมัครเป็นสมาชิก TIP Society เป็นทั้งลูกค้าของบริษัทฯ และบุคคลทั่วไปที่ไม่ใช่ลูกค้าของบริษัทฯ โดยแบ่งประเภทสมาชิกตามเงื่อนไขของบริษัทฯ ดังนี้<br />
               TIP Gold หมายถึง สมาชิกที่เป็นลูกค้าที่ทำประกันภัย ทุกประเภท หรือประเภทใด ประเภทหนึ่ง และได้สมัครเป็นสมาชิก TIP Society<br />
               TIP Silver หมายถึง สมาชิกที่ไม่ได้เป็นลูกค้า หรือทำประกันภัยกับบริษัทฯ แต่สมัครเป็นสมาชิก TIP Society
            </span><br />
            <span class="p1">2.2 เงื่อนไขในการสมัครสมาชิกรวมถึงการกรอกข้อมูลในใบสมัครของ TIP Society เนื่องจากเหตุผลทางด้านความปลอดภัย บริษัทฯอาจขอให้ผู้สมัครสมาชิกแจ้งข้อมูลส่วนตัว รวมถึงข้อมูลที่สามารถระบุตัวตนของผู้สมัครได้ (เช่น หมายเลขบัตรประชาชน และวันเกิด) เมื่อบริษัทฯรับผู้สมัครเป็นสมาชิกแล้ว สมาชิกจะได้รับหมายเลขสมาชิก TIP Society</span><br />
            <span class="p1">2.3 ผู้สมัครไม่ต้องเสียค่าธรรมเนียมการสมัคร</span><br />
            <span class="p1">2.4 สถานภาพของสมาชิก และบัตรสมาชิกของ TIP Society ไม่มีวันหมดอายุ และสามารถอัพเกรดระดับสมาชิกได้</span><br />
            <span class="p1">2.5 สมาชิกสามารถใช้สิทธิพิเศษได้ เมื่อกรอกรายละเอียดครบถ้วนสมบูรณ์ตามที่บริษัทฯกำหนด</span><br />
            <span class="p1">2.6 สถานภาพสมาชิก และสิทธิพิเศษจากการเป็นสมาชิก TIP Society เป็นสิทธิส่วนบุคคล ไม่สามารถโอนให้กับผู้อื่นได้</span><br />
            <span class="p1">2.7 สมาชิกสามารถยกเลิกการเป็นสมาชิกได้ทุกเมื่อ โดยแจ้งเป็นลายลักษณ์อักษรถึงบริษัทฯ ทั้งทางจดหมาย ส่งมาที่สำนักงานใหญ่ทิพยประกันภัย หรืออีเมลส่งมาที่ tipsociety@dhipaya.co.th บริษัทฯสามารถยกเลิกสถานภาพการเป็นสมาชิกของสมาชิกได้ทุกเมื่อ อันเนื่องมาจากสาเหตุใดก็ตาม โดยไม่ต้องแจ้งให้ทราบล่วงหน้า ทั้งนี้ในการยกเลิกสถานภาพการเป็นสมาชิก บริษัทฯจะทำการปิดบัญชีสมาชิกนั้น และสมาชิกจะไม่สามารถขอรับสิทธิพิเศษจากโครงการ TIP Society ได้อีก</span><br />
            <span class="p1">2.8 ในกรณีที่มีการแจ้งเรื่องใดๆเกี่ยวกับ TIP Society ให้สมาชิกทราบ บริษัทฯจะถือว่าได้แจ้งเรื่องดังกล่าวต่อสมาชิก เมื่อทำการติดต่อสมาชิก หรือส่งข้อความ (ทั้งทางอีเมล จดหมาย หรืออื่นๆ) ไปยังที่อยู่ของสมาชิก (รวมถึงที่อยู่ทางอีเมล) ที่บริษัทฯได้บันทึกไว้ในฐานข้อมูล</span><br />
            <span class="p1">2.9 สมาชิก 1 ท่าน สามารถมีบัญชีสมาชิกของ TIP Society ได้เพียงบัญชีเดียวเท่านั้น บริษัทฯอาจทำการแจ้งข้อมูลต่างๆเกี่ยวกับกิจกรรมที่มีผลต่อบัญชีสมาชิก ให้สมาชิกรับทราบ โดยข้อมูลต่างๆสามารถตรวจสอบได้ทาง <span class="text-red">www.tipsociety.dhipaya.co.th</span></span><br />
            <span class="p1">2.10 เมื่อมีการเปลี่ยนแปลงข้อมูลส่วนตัว สมาชิกสามารถเปลี่ยนแปลงข้อมูลเองได้ทางเว็บไซต์ <span class="text-red">www.tipsociety.dhipaya.co.th</span> ได้ตลอด 24 ชั่วโมง (ข้อมูลบางรายการที่ไม่สามารถเปลี่ยนแปลงได้ให้สมาชิกติดต่อเจ้าหน้าที่ทางอีเมล tipsociety@dhipaya.co.th)</span><br />
            <span class="p1">2.11 สมาชิกยอมรับเงื่อนไขในการแสดงบัตรสมาชิก TIP Society การแจ้งหมายเลขสมาชิก หรือรหัสผ่าน เพื่อขอรับสิทธิพิเศษ หรือเข้าร่วมกิจกรรมใดๆจากโครงการ TIP Society</span><br />
            <span class="p1">2.12 สมาชิกจองปฏิบัติตามเงื่อนไขต่างๆไว้ตามด้านล่างนี้ ในการสมัครและการเป็นสมาชิก TIP Society</span><br />
            <span class="p2">• ให้ข้อมูลที่ถูกต้อง และครบถ้วนกับบริษัทฯ</span><br />
            <span class="p2">• ไม่ทำการขาย แลกเปลี่ยน หรือพยายามโอนสิทธิ์ ในการได้รับสิทธิพิเศษต่างๆ จาก TIP Society ไม่ว่าทางใด</span><br />
            <span class="p2">• ไม่ใช้สิทธิพิเศษต่างๆจากการเป็นสมาชิก TIP Society ในทางที่ไม่เหมาะสม</span><br />
            <span class="p2">• ไม่กระทำการที่ขัดต่อผลประโยชน์ของ TIP Society ผู้ที่เกี่ยวข้องกับ TIP Society ไม่ว่าทางใด </span><br />
            <span class="p2">• ติดตามและตรวจสอบ กรณีที่มีการเปลี่ยนแปลงเงื่อนไขของการเป็นสมาชิกทาง <span class="text-red">www.tipsociety.dhipaya.co.th</span></span><br />
            <span class="p2">• แจ้งข้อมูลตามที่ทางบริษัทฯเรียกขอ เพื่อใช้ยืนยันการได้รับสิทธิใดๆก็ตาม ที่เกี่ยวข้องกับ TIP Society ซึ่งอาจรวมถึงข้อมูลจากกรมธรรม์ประกันภัย</span><br />
            <span><b>3. การอัพเกรดสถานภาพสมาชิก</b></span><br />
            <span class="p1">3.1 ในเงื่อนไขและข้อกำหนดนี้ “การอัพเกรดสถานภาพสมาชิก” หมายถึง การที่สมาชิก TIP Society ได้รับสิทธิเลื่อนสถานภาพสมาชิกที่มีสิทธิพิเศษที่สูงขึ้นหรือมากกว่า</span><br />
            <span class="p1">3.2 สมาชิกประเภท TIP Gold เมื่อมีจำนวนค่าเบี้ย หรือกรมธรรม์ หรือคะแนนสะสม ตามที่บริษัทฯกำหนดจะได้เลื่อนสถานภาพสมาชิกที่มีสิทธิพิเศษที่สูงขึ้นหรือมากกว่า</span><br />
            <span class="p1">3.3 สมาชิกประเภท TIP Silver เมื่อซื้อประกันภัยประเภทใด ประเภทหนึ่งของบริษัทฯ หรือมีคะแนนสะสมตามที่บริษัทฯกำหนด จะได้อัพเกรดเป็นสมาชิกประเภท TIP Gold</span><br />
            <span class="p1">3.4 บริษัทฯอาจทำการเพิ่มเติมเงื่อนไขเกี่ยวกับการอัพเกรดสถานภาพสมาชิกบางประเภทเป็นครั้งคราว ในกรณีที่เงื่อนไขดังกล่าวไม่สอดคล้องกับเงื่อนไขนี้ ให้เงื่อนไขนี้มีอำนาจเหนือกว่าและถือว่าสมาชิกยอมรับในเงื่อนไขนี้</span><br />
            <span class="p1">3.5 การรักษาสถานภาพสมาชิกประเภท TIP Gold สมาชิกจะต้องยังคงเป็นผู้เอาประกันภัยตามกรมธรรม์ประกันภัยของบริษัทฯ ที่ยังมีผลคุ้มครองอยู่ในขณะนั้น</span><br />
            <span><b>4. การลดสถานภาพสมาชิก</b></span><br />
            <span class="p1">4.1 บริษัทฯอาจทำการเพิ่มเติมเงื่อนไขเกี่ยวกับการลดสถานภาพสมาชิกเป็นครั้งคราว ในกรณีที่เงื่อนไขดังกล่าวไม่สอดคล้องกับเงื่อนไขนี้ ให้เงื่อนไขนี้มีอำนาจเหนือกว่าและถือว่า<br/>สมาชิกยอมรับในเงื่อนไขนี้</span><br />
            <span><b>5. คะแนน TIP Point</b></span><br />
            TIP Point คือ คะแนนสะสมที่เกิดขึ้นเมื่อสมาชิก TIP Society มีการซื้อประกันภัย หรือ ทำกิจกรรมต่างๆตามที่บริษัทฯกำหนด<br />
            <span class="p1">5.1 การคำนวณคะแนนสะสม TIP Point และเงื่อนไขการสะสม</span><br />
            <span class="p2">• ทุกการจ่ายค่าเบี้ยประกันภัยทุกประเภท สมาชิกจะได้รับคะแนนสะสม TIP Point 1 คะแนน </span><br />
            <span class="p2">• คะแนนสะสม TIP Point ที่ได้จากการคำนวณจะแสดงเป็นจำนวนเต็มเสมอ ถ้าค่าที่ได้เป็นทศนิยมจะปัดลงเป็นจำนวนเต็มทุกครั้ง เช่น ค่าเบี้ยประกันภัย 13,765 บาท หารด้วย 25 สมาชิกจะได้คะแนนสะสม 550 คะแนน</span><br />
            <span class="p2">• สมาชิกประเภท TIP Gold ต่ออายุกรมธรรม์ประกันภัยทุกประเภท หรือประเภทใดประเภทหนึ่ง จะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• สมาชิกประเภท TIP Gold ไม่มีการเคลม หรือเคลมประกันภัยน้อย ต่อเดือนจะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• สมาชิกประเภท TIP Gold ใช้แอปพลิเคชัน TIP Flash Claim ในการเคลมประกันภัยจะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• สมาชิก TIP Society ใช้แอปพลิเคชัน TIP Insure ในการตรวจสภาพรถก่อนการทำประกันภัยรถยนต์ จะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• ทุกการสมัครแอปพลิเคชันต่างของบริษัทฯ สมาชิกจะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• ทุกการใช้งานในฟังชั่นต่างๆของแอปพลิเคชัน TIP Insure จะได้รับคะแนนสะสม TIP Point</span><br />
            <span class="p2">• สมาชิก TIP Society ร่วมกิจกรรมต่างๆที่บริษัทฯกำหนดขึ้น จะได้รับคะแนนสะสม TIP Point ซึ่งแต่ละกิจกรรมอาจได้รับคะแนนไม่เท่ากัน ขึ้นอยู่กับการกำหนดเงื่อนไขการร่วมกิจกรรม<br/>ของบริษัทฯ</span><br />
            <span class="p1">5.2 TIP Point จะได้รับการสะสม ภายในวันหลังจากมีการซื้อประกันภัย หรือร่วมกิจกรรม ตามที่บริษัทฯ กำหนด โดยจะไม่มีวันหมดอายุ</span><br />
            <span class="p1">5.3 การสะสม TIP Point ไม่มีผลย้อนหลัง สำหรับผู้ที่สมัครเป็นสมาชิกหลังจากซื้อประกันภัยของบริษัทฯ (และเงื่อนไขอื่นๆที่อาจมีการระบุเพิ่มเติมบนเว็บไซต์ <span class="text-red">www.tipsociety.dhipaya.co.th</span></span><br />
            <span class="p1">5.4 สมาชิกแจ้งรหัสสมาชิก TIP Society หรือแจ้งสิทธิ เพื่อรักษาผลประโยชน์ในการสะสมคะแนน TIP Point ของสมาชิกเอง</span><br />
            <span><b>6. การขอรับสิทธิพิเศษ</b></span><br />
            <span class="p1">6.1 สิทธิพิเศษที่ได้รับมีการจำกัดจำนวน บริษัทฯขอสงวนสิทธิ์ในการเปลี่ยนแปลง (รวมถึงการระงับ และการยกเลิก) สิทธิพิเศษต่างๆ และการจำกัดจำนวนเป็นครั้งคราว ตามที่เห็นสมควร บริษัทฯอาจทำการเปลี่ยนสิทธิพิเศษ ที่ต่างจากที่สมาชิกแจ้งความต้องการ ในกรณีนี้บริษัทฯจะพิจารณาถึงมูลค่า และลักษณะของสิทธิพิเศษทดแทน ให้ใกล้เคียงกับของสิทธิพิเศษเดิมที่สมาชิกต้องการ</span><br />
            <span class="p1">6.2 การรับสิทธิพิเศษสามารถกระทำได้ตามที่ระบุไว้ใน <span class="text-red">www.tipsociety.dhipaya.co.th</span></span><br />
            <span class="p1">6.3 บริษัทฯอาจทำการเพิ่มเติมเงื่อนไขเกี่ยวกับการขอรับสิทธิพิเศษบางประเภทเป็นครั้งคราว ในกรณีที่เงื่อนไขดังกล่าวไม่สอดคล้องกับเงื่อนไขนี้ ให้เงื่อนไขนี้มีอำนาจเหนือกว่า และถือว่าสมาชิกยอมรับในเงื่อนไขนี้</span><br />
            <span class="p1">6.4 สมาชิกจะต้องอยู่ในประเภทสมาชิกที่มีการกำหนดให้สิทธิพิเศษสำหรับประเภทสมาชิกนั้นๆ ณ เวลาที่ทำการขอสิทธิพิเศษ</span><br />
            <span><b>7. พันธะและหน้าที่</b></span><br />
            <span class="p1">7.1 เงื่อนไขต่างๆที่ระบุในข้อตกลงนี้ ถือเป็นข้อผูกพันที่บริษัทฯมีต่อสมาชิก ในการทำหน้าที่ต่างๆต่อไปนี้ ตราบใดที่บริษัทฯยังดำเนินโครงการ TIP Society</span><br />
            <span class="p2">• การรับสมัครสมาชิกจากผู้ที่สนใจ และดำเนินการรับเข้าเป็นสมาชิก TIP Society</span><br />
            <span class="p2">• จัดมอบสิทธิพิเศษให้แก่สมาชิกที่ขอรับสิทธิ</span><br />
            <span class="p2">• จัดส่งข้อมูลข่าวสารต่างๆที่เกี่ยวกับ TIP Society ไปยังอีเมลที่สมาชิกแจ้งไว้</span><br />
            <span class="p1">7.2 บริษัทฯไม่สามารถรับประกันการมอบสิทธิพิเศษใดๆก็ตาม ที่สมาชิกแจ้งความประสงค์มาเพื่อขอรับสิทธิพิเศษนั้นๆ อนึ่งบริษัทฯขอสงวนสิทธิ์ในการจำกัด  ถอน เปลี่ยนแปลง ยกเลิก หรือเพิ่มจำนวนสิทธิพิเศษต่างๆ</span><br />
            <span class="p1">7.3 บริษัทฯขอสงวนสิทธิ์ในการเปลี่ยนแปลง หรือแก้ไขกฎเกณฑ์ สิทธิพิเศษหรือเงื่อนไขในการเข้าร่วมรายการ TIP Society บางส่วน หรือทั้งหมดได้ทุกเมื่อ  บริษทฯจะถึอว่าเป็นความรับผิดชอบของสมาชิก ในการรับรู้ถึงกฎเกณฑ์ สิทธิพิเศษ และเงื่อนไขต่างๆของ TIP Society ที่ใช้ในปัจจุบัน</span><br />
            <span><b>8. สิทธิส่วนบุคคลและข้อความอิเลคโทรนิก</b></span><br />
            <span class="p1">8.1 สมาชิกตกลงยอมรับข้อปฏิบัติทางด้านล่างเกี่ยวกับข้อมูลส่วนตัว ที่ให้ไว้กับบริษัทฯอันเนื่องมาจากโครงการ TIP Society</span><br />
            <span class="p1">8.2 บริษัทฯสามารถนำข้อมูลของสมาชิกที่ให้ไว้มาใช้เพื่อจุดประสงค์ในการดังนี้</span><br />
            <span class="p2">• ปฏิบัติหน้าที่ตามพันธะที่มีต่อสมาชิก</span><br />
            <span class="p2">• เปิดเผยข้อมูลนั้นต่อผู้ให้บริการที่ถือเป็นบุคคลที่สาม ซึ่งมีส่วนในการให้บริษัทฯปฏิบัติหน้าที่ตามพันธะที่มีต่อสมาชิก</span><br />
            <span class="p2">• ทำการตลาดเกี่ยวกับสินค้าหรือบริการต่อสมาชิก</span><br />
            <span class="p2">• พยายามพัฒนาและปรับปรุงในส่วนของลูกค้าสัมพันธ์ (ทั้งทางด้านการพัฒนาสินค้า การริเริ่มทางการวิจัยและการตลาด และการวิเคราะห์)</span><br />
            <span class="p2">• ปฏิบัติตามกฎหมาย หรือข้อบังคับต่างๆของรัฐบาล หรือของตัวแทนศาล</span><br />
            <span class="p1">8.3 โอนย้ายข้อมูลส่วนตัวของสมาชิกไป หรือมายังประเทศไทย เพื่อจุดประสงค์ที่ระบุไว้ชัดเจน</span><br />
            <span class="p1">8.4 ข้อมูลส่วนตัวที่สมาชิกให้ไว้กับบริษัทฯ จะถูกเก็บไว้ยังสำนักงานใหญ่ สมาชิกจะต้องรับผิดชอบในการกระทำใดๆเพื่อความแน่ใจในความถูกต้อง และครบถ้วนของข้อมูลส่วนตัวที่บริษัทฯมี บริษัทฯสามารถตรวจสอบและแก้ไขข้อมูลส่วนตัวต่างๆของสมาชิกได้ โดยยึดถือหลักตามกฎหมายเกี่ยวกับสิทธิส่วนบุคคลทุกมาตราที่บังคับใช้</span><br />
            <span><b>9. ขอบข่ายความรับผิดชอบ</b></span><br />
            <span class="p1">9.1 หากข้อกำหนดและเงื่อนไขแห่งข้อตกลงฉบับนี้ข้อใดไม่มีผลผูกพันและผลใช้บังคับตามกฎหมาย ข้อกำหนดและเงื่อนไขดังกล่าวจะไม่ส่งผลกระทบต่อความชอบด้วยกฎหมาย ผลผูกพันและการใช้บังคับ ข้อกำหนดอื่นใดในข้อกำหนดและเงื่อนไขฉบับนี้</span><br />
            <span class="p1">9.2 ข้อกำหนดและเงื่อนไขฉบับนี้ รวมถึงการเปลี่ยนแปลงแก้ไขใดๆที่ตามมาเกี่ยวกับข้อกำหนดนี้ ให้ถือเป็นข้อกำหนดของสัญญาในโครงการ TIP Society ที่มีต่อสมาชิก</span><br />
            <span class="p1">9.3 บริษัทฯจะไม่รับผิดชอบต่อการสูญหาย ความเสียหาย หรือค่าใช้จ่ายใดๆ ที่เกิดขึ้นเกี่ยวกับโครงการ TIP Society ไม่ว่าทางตรงหรือทางอ้อม รวมถึงการยินยอมหรือปฏิเสธ ที่จะมอบสิทธิพิเศษใดๆ แม้ว่าการสูญหาย ความสูญเสียหรือค่าใช้จ่ายนั้นๆ เกิดจากการเพิกเฉย หรือแม้แต่เป็นสิ่งที่บริษัทฯสามารถควบคุมได้</span><br />
         </p>

      </div><!-- .container -->
   </div><!-- .profile-information -->
</div><!-- .profile-container -->

@section scripts{
   <script>
      $(document).ready(function () {
         $('main').addClass('profile-main');
      });
   </script>

}
